<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title%></title>
    <!-- Plugin CSS Files -->
  <link href="css/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="css/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="css/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="css/swiper/swiper-bundle.min.css" rel="stylesheet">
  <!-- Font Awesome -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="css/style.css" rel="stylesheet">
</head>
<body>
    
    <%- body %>

 <!-- Plugin JS Files -->
 <script src="js/glightbox/js/glightbox.min.js"></script>
 <script src="js/swiper/swiper-bundle.min.js"></script>
 <script src="js/typed.js/typed.umd.js"></script>

 <!-- Main JS File -->
 <script src="js/main.js"></script>
</body>
</html>